<form class="propriedades" [formGroup]="propriedades">
    <mat-form-field appearance="outline">
        <mat-label>Tipo de Propriedade</mat-label>
        <input matInput formControlName = "tipoPropriedade">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Ano da Compra</mat-label>
        <input matInput formControlName = "anoCompra">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Ano da Venda</mat-label>
        <input matInput formControlName = "anoVenda">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Valor de Compra</mat-label>
        <input matInput formControlName = "valorCompra">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Valor de Venda</mat-label>
        <input matInput formControlName = "valorVenda">
    </mat-form-field>
</form>
