<form class="dependentes" [formGroup]="dependentes">
    <mat-form-field appearance="outline">
        <mat-label>Tipo de Dependente</mat-label>
        <input matInput formControlName = "tipoDependente">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName = "nomeCompleto">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput formControlName = "cpf">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput formControlName = "dataNascimento">
    </mat-form-field>
</form>
