<form class="container" [formGroup]="dadosDeclarante">
    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName = "nome">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput formControlName = "cpf">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput formControlName = "nascimento">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName = "telefone">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName = "email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Profissão</mat-label>
        <input matInput formControlName = "profissao">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Nº Conta Bancaria</mat-label>
        <input matInput formControlName = "contaBancaria">
    </mat-form-field>   
</form>
