<mat-toolbar class="header mat-elevation-z5">
  <span>
    <a>
      <img class="logo v-middle" src="assets\Simple-Emblem.png" alt="logo">
    </a>
  </span>
  <span>
    <h1 class="title v-middle">Seu Declarador IR Online</h1>
  </span>
  <span class="spacer"></span>
  <div class="actions-containers">
    <button mat-icon-button (click)="irParaCadastro()">
      <mat-icon>note_add</mat-icon>
    </button>
    <button mat-icon-button (click)="irParaMonitorOperacoes()">
      <mat-icon> format_list_numbered</mat-icon>
    </button>
    <button mat-icon-button (click)="sair()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>