<mat-toolbar class="header mat-elevation-z5">
  <span>
    <a>
      <img class="logo v-middle" src="assets\Simple-Emblem.png" alt="logo">
    </a>
  </span>
  <span>
    <h1 class="title v-middle">Seu Declarador IR Online</h1>
  </span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar class="footer mat-elevation-z5 ">
  <span class="spacer"></span>
  <span>
    Projeto PDI
    <i class="material-icons v-middle">
      terminal
    </i>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>