<div class="container">
    <mat-card class="card">
        <mat-card-header class="header">
            <h1 class="title">Tela de Cadastro</h1>
        </mat-card-header>

        <mat-card-content>
            <mat-card-subtitle>Dados do Declarante</mat-card-subtitle>
            <app-form-dados-declarante></app-form-dados-declarante>
        </mat-card-content>
        <mat-card-content>
            <mat-card-subtitle>Endereço do Declarante</mat-card-subtitle>
            <app-form-endereco></app-form-endereco>
        </mat-card-content>
        <mat-card-content>
            <mat-card-subtitle>Dependentes</mat-card-subtitle>
            <app-form-dependentes></app-form-dependentes>
        </mat-card-content>
        <mat-card-content>
            <mat-card-subtitle>Propriedades do Declarante</mat-card-subtitle>
            <app-form-propriedades></app-form-propriedades>
        </mat-card-content>

        <mat-card-actions class="actions">
            <button class="botao-enviar">Enviar</button>
            <button class="botao-recomecar">Recomeçar</button>
        </mat-card-actions>
    </mat-card>
</div>