<form class="endereco" [formGroup]="endereco">
    <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput formControlName = "cep">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Rua</mat-label>
        <input matInput formControlName = "rua">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Numero</mat-label>
        <input matInput formControlName = "numero">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName = "complemento">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName = "bairro">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName = "cidade">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput formControlName = "estado">
    </mat-form-field>
</form>
